*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

nav{
    height: 80px;
    width: 100%;
    background-color: #fcfcfc;
}
nav p{
    position: absolute;
    left: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    top: 20px;
}
span{
    color: #fb9523;
}
nav ul{
    float: right;
    margin-right:  25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: black;
    font-size: 18px;
    padding: 5px 0;
}
nav ul li a:hover{
    color: grey;
    text-decoration:overline;
}
nav button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
button:hover{
    color: grey;
}
label #btn, label #cancel{
    font-size: 20px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.imgdiv{
    position: relative;
    left: 5%;
    background-image: url(./earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 300px;
    border:  solid #fcfcfc;
    border-radius: 30px 30px 0px 0px;
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 65px;
    margin-top: 10px;
    font-size: 22px;
}
.imgdiv h1{
    font-size: 50px;
}
.formdivs form{
    position: relative;
    left: 30%;
    right: 0%;
    justify-content: center;
    margin-top: 50px
    
}

    
input[type=email]{
    width: 530px;
    padding: 10px;

}
input[type=number]{
    width: 250px;
    padding: 10px;

}
input[type=text]{
    width: 250px;
     padding: 10px;
}

input[type=text1]{
    width: 530px;
    padding: 10px;
}
input[type=text2]{

    width: 530px;
    padding: 10px;    
}
input[type=submit]{
    color: white;
    font-size: 15;
    background-color: black;
    padding: 15px;
    width: 20%;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
input[type=textarea]{
    width: 510px;
    padding: 20px;

}

@media(max-width: 680px){
    nav p {
        left: 20px;
        top: 20px;
    }

nav ul li a{
    font-size: 15px;
}
label #btn{
    display: block;
}
ul{
    position: fixed;
    width: 100%;
    height: 100pc;
    background: #000000f2;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all.5s;
    z-index: 1;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
nav li button {
    font-size: 20px;
    font-weight: bold;

}
#check:checked ~ ul{
    left:0px;

}
#check:checked ~ label #btn{
    display: none;
}
#check:checked ~ label #cancel{
    display: block;
}
.imgdiv{
    font-size: 20px;
    line-height: 40px;
    justify-content: center;
    
}
.imgdiv h1{
    margin-bottom: 20px;
}
.formdivs{
    position: absolute;
    left: 10px;
    
}

input[type=text], input[type=number]{
                
    width: 135px;

}
input[type=email], input[type=text1],input[type=text2]{
    width: 300px;
    
    
}
input[type=textarea]{
    padding: 15px;
    width: 290px;
}
input[type=submit]{
    margin-bottom: 30px;
}

}